body {
  margin: 0;
  background: #f7f7f7;
}
* {
  box-sizing: border-box;
}
.warning {
  background: #ffc4c6;
  color: #a20606;
  padding: 10px;
  text-align: center;
}
.error {
  color: #a20606;
}
.board {
  background: white;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: 1px 1px 3px #e8e8e8;
  border-radius: 5px;
}
.board__new-comment-form textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #c2dffb;
}
.board__nickname {
  margin-bottom: 10px;
}
.board__nickname input {
  border: 1px solid #c2dffb;
  padding: 5px;
}
.board__submit-btn {
  padding: 10px;
  border: 1px solid #c2dffb;
  border-radius: 5px;
  width: 100px;
  color: #583c63;
  font-size: 16px;
  background: white;
}
.board__hr {
  margin: 20px auto;
  height: 2px;
  background: #e8e8e8;
  max-width: 95%;
}
.card {
  margin: 20px 0;
  min-height: 70px;
  display: flex;
}
.card__avatar {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e4f0fb;
}
.card__body {
  margin-left: 10px;
}
.card__content {
  margin-top: 8px;
  max-width: 100%;
  white-space: pre-line;
  word-break: break-word;
}
.card__author {
  color: #5c9edc;
  font-weight: bold;
}

.card__time {
  color: #a0a0a0;
}

.board__btn {
  padding: 10px 30px;
  border: 1px solid #c2dffb;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  background: white;
  min-width: 20px;
  text-decoration: none;
  display: inline-block;
}
board__nickname-form {
  margin-top: 20px;
}

.hide {
  display: none;
}